USE [master]
GO
/****** Object:  Database [DSI_PPAI]    Script Date: 1/8/2021 18:12:22 ******/
CREATE DATABASE [DSI_PPAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DSI_PPAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\DSI_PPAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DSI_PPAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\DSI_PPAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DSI_PPAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DSI_PPAI]
GO
/****** Object:  Table [dbo].[Asignaciones]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaciones](
	[id_asignacion] [int] NOT NULL,
	[id_empleado] [int] NOT NULL,
	[horaInicio] [time](7) NOT NULL,
	[horaFin] [time](7) NOT NULL,
 CONSTRAINT [PK_Asignaciones] PRIMARY KEY CLUSTERED 
(
	[id_asignacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Barrio]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barrio](
	[id_barrio] [int] IDENTITY(1,1) NOT NULL,
	[nombre_barrio] [varchar](40) NOT NULL,
	[id_ciudad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_barrio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[id_cargo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[id_ciudad] [int] IDENTITY(1,1) NOT NULL,
	[nombre_ciudad] [varchar](40) NOT NULL,
	[id_depto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[id_depto] [int] IDENTITY(1,1) NOT NULL,
	[nombre_depto] [varchar](40) NOT NULL,
	[id_provincia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_depto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleExposicion]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleExposicion](
	[id_obra] [int] NOT NULL,
	[id_expo] [int] NOT NULL,
 CONSTRAINT [expoXobra_PK] PRIMARY KEY CLUSTERED 
(
	[id_obra] ASC,
	[id_expo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](40) NOT NULL,
	[apellido] [varchar](30) NOT NULL,
	[id_tipo_doc] [int] NOT NULL,
	[nro_doc] [numeric](8, 0) NOT NULL,
	[nombre_calle] [varchar](40) NOT NULL,
	[nro_calle] [int] NOT NULL,
	[id_sede] [int] NOT NULL,
	[id_cargo] [int] NOT NULL,
	[id_genero] [int] NOT NULL,
	[email] [varchar](40) NULL,
	[cuit] [nchar](13) NULL,
	[id_barrio] [int] NOT NULL,
	[telefono] [nchar](15) NULL,
	[fecha_nac] [date] NOT NULL,
	[fecha_ingreso] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Escuela]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escuela](
	[id_escuela] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[email] [varchar](40) NULL,
	[nombre_calle] [varchar](30) NOT NULL,
	[nro_calle] [int] NOT NULL,
	[id_barrio] [int] NOT NULL,
	[tel_celular] [nchar](15) NULL,
	[tel_fijo] [nchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_escuela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expo_X_Reserva]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expo_X_Reserva](
	[id_reserva] [int] NOT NULL,
	[id_exposicion] [int] NOT NULL,
 CONSTRAINT [expoXreserva_PK] PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC,
	[id_exposicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exposicion]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exposicion](
	[id_expo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[id_tipo_expo] [int] NOT NULL,
	[id_guia] [int] NOT NULL,
	[temporal] [bit] NOT NULL,
	[id_Publico] [int] NOT NULL,
	[id_Sede] [int] NOT NULL,
 CONSTRAINT [PK__Exposici__FA3DA1915843E58A] PRIMARY KEY CLUSTERED 
(
	[id_expo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[id_genero] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](35) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guia_X_Reserva]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guia_X_Reserva](
	[idGuia] [int] NOT NULL,
	[idReserva] [int] NOT NULL,
 CONSTRAINT [PK_Guia_X_Reserva] PRIMARY KEY CLUSTERED 
(
	[idGuia] ASC,
	[idReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hora_Empleado]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hora_Empleado](
	[id_empleado] [int] NOT NULL,
	[dia] [nchar](1) NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
 CONSTRAINT [horario_empleado_CK] PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC,
	[dia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Obra]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obra](
	[id_obra] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[alto] [numeric](5, 2) NULL,
	[ancho] [numeric](5, 2) NULL,
	[peso] [numeric](5, 2) NULL,
	[fecha_creacion] [date] NULL,
	[fecha_ingreso] [date] NULL,
	[valuacion] [numeric](3, 1) NULL,
	[descripcion] [varchar](30) NOT NULL,
	[id_empleado] [int] NOT NULL,
	[duracion_exp_obra] [time](7) NOT NULL,
 CONSTRAINT [PK__Obra__3DE22919552218E5] PRIMARY KEY CLUSTERED 
(
	[id_obra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[id_provincia] [int] IDENTITY(1,1) NOT NULL,
	[nombre_provincia] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publico_Destino]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publico_Destino](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Publico_Destino] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[id_reserva] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_visita] [int] NOT NULL,
	[id_escuela] [int] NOT NULL,
	[fecha_creacion] [date] NULL,
	[fecha_reserva] [date] NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[hora_incio_real] [time](7) NULL,
	[hora_fin_real] [time](7) NULL,
	[cant_alumnos_confirm] [int] NULL,
	[id_sede] [int] NOT NULL,
 CONSTRAINT [PK__Reserva__423CBE5DBBF05DF2] PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sede]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sede](
	[id_sede] [int] IDENTITY(1,1) NOT NULL,
	[nombre_sede] [varchar](50) NOT NULL,
	[cant_max_visit] [int] NOT NULL,
	[cant_max_X_guias] [int] NOT NULL,
	[horario_desde] [time](7) NOT NULL,
	[horario_hasta] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sesion]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesion](
	[id_usuario] [int] NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NOT NULL,
 CONSTRAINT [sesion_PK] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC,
	[fecha_inicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_exposicion]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_exposicion](
	[id_tipo_expo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo_expo] [varchar](20) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_expo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_visita]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_visita](
	[id_tipo_visita] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_visita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDoc]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDoc](
	[id_tipo_doc] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 1/8/2021 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NOT NULL,
	[contraseña] [varchar](16) NOT NULL,
	[nombre_usuario] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Barrio] ON 

INSERT [dbo].[Barrio] ([id_barrio], [nombre_barrio], [id_ciudad]) VALUES (1, N'Nueva Cordoba', 1)
SET IDENTITY_INSERT [dbo].[Barrio] OFF
GO
SET IDENTITY_INSERT [dbo].[Cargo] ON 

INSERT [dbo].[Cargo] ([id_cargo], [descripcion]) VALUES (1, N'Guia de visitas')
INSERT [dbo].[Cargo] ([id_cargo], [descripcion]) VALUES (2, N'Director')
SET IDENTITY_INSERT [dbo].[Cargo] OFF
GO
SET IDENTITY_INSERT [dbo].[Ciudad] ON 

INSERT [dbo].[Ciudad] ([id_ciudad], [nombre_ciudad], [id_depto]) VALUES (1, N'Cordoba', 1)
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([id_depto], [nombre_depto], [id_provincia]) VALUES (1, N'Marcos Juarez', 1)
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
INSERT [dbo].[DetalleExposicion] ([id_obra], [id_expo]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([id_empleado], [nombre], [apellido], [id_tipo_doc], [nro_doc], [nombre_calle], [nro_calle], [id_sede], [id_cargo], [id_genero], [email], [cuit], [id_barrio], [telefono], [fecha_nac], [fecha_ingreso]) VALUES (1, N'Tito', N'Puentes', 1, CAST(32156324 AS Numeric(8, 0)), N'Av. Chaca', 550, 1, 1, 1, N'tito@gmail.com', N'-45345215    ', 1, N'3516426896     ', CAST(N'2008-12-12' AS Date), CAST(N'2021-06-21' AS Date))
INSERT [dbo].[Empleado] ([id_empleado], [nombre], [apellido], [id_tipo_doc], [nro_doc], [nombre_calle], [nro_calle], [id_sede], [id_cargo], [id_genero], [email], [cuit], [id_barrio], [telefono], [fecha_nac], [fecha_ingreso]) VALUES (2, N'Jorge', N'Luis', 1, CAST(15621097 AS Numeric(8, 0)), N'Av siempreviva', 470, 1, 1, 1, N'Marcos@sinectis.com', N'145894435    ', 1, N'3543775485     ', CAST(N'2000-12-10' AS Date), CAST(N'2021-09-15' AS Date))
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Escuela] ON 

INSERT [dbo].[Escuela] ([id_escuela], [nombre], [email], [nombre_calle], [nro_calle], [id_barrio], [tel_celular], [tel_fijo]) VALUES (1, N'IEC', N'iec@gmail.com', N'Av. Velez', 685, 1, N'351964856      ', N'4856963        ')
SET IDENTITY_INSERT [dbo].[Escuela] OFF
GO
INSERT [dbo].[Expo_X_Reserva] ([id_reserva], [id_exposicion]) VALUES (24, 3)
GO
SET IDENTITY_INSERT [dbo].[Exposicion] ON 

INSERT [dbo].[Exposicion] ([id_expo], [nombre], [descripcion], [fecha_inicio], [fecha_fin], [id_tipo_expo], [id_guia], [temporal], [id_Publico], [id_Sede]) VALUES (3, N'Amor Propio', N'Barroco', CAST(N'2021-12-12' AS Date), CAST(N'2022-02-12' AS Date), 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Exposicion] OFF
GO
SET IDENTITY_INSERT [dbo].[Genero] ON 

INSERT [dbo].[Genero] ([id_genero], [descripcion]) VALUES (1, N'Masculino')
SET IDENTITY_INSERT [dbo].[Genero] OFF
GO
INSERT [dbo].[Guia_X_Reserva] ([idGuia], [idReserva]) VALUES (1, 9)
INSERT [dbo].[Guia_X_Reserva] ([idGuia], [idReserva]) VALUES (1, 10)
INSERT [dbo].[Guia_X_Reserva] ([idGuia], [idReserva]) VALUES (1, 11)
GO
INSERT [dbo].[Hora_Empleado] ([id_empleado], [dia], [hora_inicio], [hora_fin]) VALUES (1, N'M', CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time))
INSERT [dbo].[Hora_Empleado] ([id_empleado], [dia], [hora_inicio], [hora_fin]) VALUES (2, N'M', CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time))
GO
SET IDENTITY_INSERT [dbo].[Obra] ON 

INSERT [dbo].[Obra] ([id_obra], [nombre], [alto], [ancho], [peso], [fecha_creacion], [fecha_ingreso], [valuacion], [descripcion], [id_empleado], [duracion_exp_obra]) VALUES (1, N'La Mona Lisa', CAST(923.99 AS Numeric(5, 2)), CAST(199.99 AS Numeric(5, 2)), CAST(139.99 AS Numeric(5, 2)), CAST(N'1572-12-06' AS Date), CAST(N'2020-10-15' AS Date), CAST(10.0 AS Numeric(3, 1)), N'La mona lisa de DaVinci', 1, CAST(N'00:05:00' AS Time))
SET IDENTITY_INSERT [dbo].[Obra] OFF
GO
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([id_provincia], [nombre_provincia]) VALUES (1, N'Cordoba')
SET IDENTITY_INSERT [dbo].[Provincia] OFF
GO
SET IDENTITY_INSERT [dbo].[Publico_Destino] ON 

INSERT [dbo].[Publico_Destino] ([id], [descripcion]) VALUES (1, N'Adultos   ')
INSERT [dbo].[Publico_Destino] ([id], [descripcion]) VALUES (2, N'Jovenes   ')
INSERT [dbo].[Publico_Destino] ([id], [descripcion]) VALUES (3, N'Niños     ')
SET IDENTITY_INSERT [dbo].[Publico_Destino] OFF
GO
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([id_reserva], [id_tipo_visita], [id_escuela], [fecha_creacion], [fecha_reserva], [hora_inicio], [hora_fin], [hora_incio_real], [hora_fin_real], [cant_alumnos_confirm], [id_sede]) VALUES (1, 1, 1, CAST(N'1900-01-01' AS Date), CAST(N'2021-07-15' AS Date), CAST(N'15:00:00' AS Time), CAST(N'17:00:00' AS Time), CAST(N'15:17:00' AS Time), CAST(N'17:15:00' AS Time), 150, 1)
INSERT [dbo].[Reserva] ([id_reserva], [id_tipo_visita], [id_escuela], [fecha_creacion], [fecha_reserva], [hora_inicio], [hora_fin], [hora_incio_real], [hora_fin_real], [cant_alumnos_confirm], [id_sede]) VALUES (5, 1, 1, CAST(N'1900-01-01' AS Date), CAST(N'2020-12-12' AS Date), CAST(N'15:00:00' AS Time), CAST(N'16:00:00' AS Time), CAST(N'15:00:00' AS Time), CAST(N'16:00:00' AS Time), 25, 1)
INSERT [dbo].[Reserva] ([id_reserva], [id_tipo_visita], [id_escuela], [fecha_creacion], [fecha_reserva], [hora_inicio], [hora_fin], [hora_incio_real], [hora_fin_real], [cant_alumnos_confirm], [id_sede]) VALUES (6, 2, 1, CAST(N'1900-01-01' AS Date), CAST(N'1212-12-12' AS Date), CAST(N'15:00:00' AS Time), CAST(N'16:00:00' AS Time), CAST(N'15:00:00' AS Time), CAST(N'16:00:00' AS Time), 2, 1)
SET IDENTITY_INSERT [dbo].[Reserva] OFF
GO
SET IDENTITY_INSERT [dbo].[Sede] ON 

INSERT [dbo].[Sede] ([id_sede], [nombre_sede], [cant_max_visit], [cant_max_X_guias], [horario_desde], [horario_hasta]) VALUES (1, N'Caraffa', 100, 30, CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Sede] OFF
GO
INSERT [dbo].[Sesion] ([id_usuario], [fecha_inicio], [fecha_fin]) VALUES (1, CAST(N'2021-12-10T08:00:00.000' AS DateTime), CAST(N'2005-05-05T08:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Tipo_exposicion] ON 

INSERT [dbo].[Tipo_exposicion] ([id_tipo_expo], [nombre_tipo_expo], [descripcion]) VALUES (1, N'Renacent.', N'Exposicion de arte renacentist')
SET IDENTITY_INSERT [dbo].[Tipo_exposicion] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo_visita] ON 

INSERT [dbo].[Tipo_visita] ([id_tipo_visita], [descripcion]) VALUES (1, N'General')
INSERT [dbo].[Tipo_visita] ([id_tipo_visita], [descripcion]) VALUES (2, N'Particular')
SET IDENTITY_INSERT [dbo].[Tipo_visita] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoDoc] ON 

INSERT [dbo].[TipoDoc] ([id_tipo_doc], [descripcion]) VALUES (1, N'DNI')
INSERT [dbo].[TipoDoc] ([id_tipo_doc], [descripcion]) VALUES (2, N'CUIL')
INSERT [dbo].[TipoDoc] ([id_tipo_doc], [descripcion]) VALUES (3, N'CUIT')
SET IDENTITY_INSERT [dbo].[TipoDoc] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [id_empleado], [contraseña], [nombre_usuario]) VALUES (1, 1, N'ADMIN', N'ADMIN')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT ('default@-mail.com') FOR [email]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT ('XX-XXXXXXXX-X') FOR [cuit]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT ('+XX XXX XXXXXXX') FOR [telefono]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT (getdate()) FOR [fecha_ingreso]
GO
ALTER TABLE [dbo].[Escuela] ADD  DEFAULT ('default_escuela@-mail.com') FOR [email]
GO
ALTER TABLE [dbo].[Escuela] ADD  DEFAULT ('+XX XXX XXXXXXX') FOR [tel_celular]
GO
ALTER TABLE [dbo].[Escuela] ADD  DEFAULT ('+XX XXX XXXXXXX') FOR [tel_fijo]
GO
ALTER TABLE [dbo].[Obra] ADD  CONSTRAINT [DF__Obra__fecha_ingr__628FA481]  DEFAULT (getdate()) FOR [fecha_ingreso]
GO
ALTER TABLE [dbo].[Reserva] ADD  CONSTRAINT [DF__Reserva__fecha_c__59063A47]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Sede] ADD  DEFAULT (getdate()) FOR [horario_desde]
GO
ALTER TABLE [dbo].[Asignaciones]  WITH CHECK ADD  CONSTRAINT [FK_Asignaciones_Empleado] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Asignaciones] CHECK CONSTRAINT [FK_Asignaciones_Empleado]
GO
ALTER TABLE [dbo].[Barrio]  WITH CHECK ADD  CONSTRAINT [barrioXciudad_FK] FOREIGN KEY([id_ciudad])
REFERENCES [dbo].[Ciudad] ([id_ciudad])
GO
ALTER TABLE [dbo].[Barrio] CHECK CONSTRAINT [barrioXciudad_FK]
GO
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD  CONSTRAINT [ciudadXdepto_FK] FOREIGN KEY([id_depto])
REFERENCES [dbo].[Departamento] ([id_depto])
GO
ALTER TABLE [dbo].[Ciudad] CHECK CONSTRAINT [ciudadXdepto_FK]
GO
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD  CONSTRAINT [deptoXprov_FK] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[Provincia] ([id_provincia])
GO
ALTER TABLE [dbo].[Departamento] CHECK CONSTRAINT [deptoXprov_FK]
GO
ALTER TABLE [dbo].[DetalleExposicion]  WITH CHECK ADD  CONSTRAINT [expoXobra_FK] FOREIGN KEY([id_obra])
REFERENCES [dbo].[Obra] ([id_obra])
GO
ALTER TABLE [dbo].[DetalleExposicion] CHECK CONSTRAINT [expoXobra_FK]
GO
ALTER TABLE [dbo].[DetalleExposicion]  WITH CHECK ADD  CONSTRAINT [obraXexpo_FK] FOREIGN KEY([id_expo])
REFERENCES [dbo].[Exposicion] ([id_expo])
GO
ALTER TABLE [dbo].[DetalleExposicion] CHECK CONSTRAINT [obraXexpo_FK]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [empleadoXbarrio_FK] FOREIGN KEY([id_barrio])
REFERENCES [dbo].[Barrio] ([id_barrio])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [empleadoXbarrio_FK]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [empleadoXcargo_FK] FOREIGN KEY([id_cargo])
REFERENCES [dbo].[Cargo] ([id_cargo])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [empleadoXcargo_FK]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [empleadoXgenero_FK] FOREIGN KEY([id_genero])
REFERENCES [dbo].[Genero] ([id_genero])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [empleadoXgenero_FK]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [empleadoXsede_FK] FOREIGN KEY([id_sede])
REFERENCES [dbo].[Sede] ([id_sede])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [empleadoXsede_FK]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [empleadoXtipoDoc_FK] FOREIGN KEY([id_tipo_doc])
REFERENCES [dbo].[TipoDoc] ([id_tipo_doc])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [empleadoXtipoDoc_FK]
GO
ALTER TABLE [dbo].[Escuela]  WITH CHECK ADD  CONSTRAINT [escuelaXbarrio_FK] FOREIGN KEY([id_barrio])
REFERENCES [dbo].[Barrio] ([id_barrio])
GO
ALTER TABLE [dbo].[Escuela] CHECK CONSTRAINT [escuelaXbarrio_FK]
GO
ALTER TABLE [dbo].[Expo_X_Reserva]  WITH CHECK ADD  CONSTRAINT [expoXreserva_FK] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[Reserva] ([id_reserva])
GO
ALTER TABLE [dbo].[Expo_X_Reserva] CHECK CONSTRAINT [expoXreserva_FK]
GO
ALTER TABLE [dbo].[Expo_X_Reserva]  WITH CHECK ADD  CONSTRAINT [reservaXexpo_FK] FOREIGN KEY([id_exposicion])
REFERENCES [dbo].[Exposicion] ([id_expo])
GO
ALTER TABLE [dbo].[Expo_X_Reserva] CHECK CONSTRAINT [reservaXexpo_FK]
GO
ALTER TABLE [dbo].[Exposicion]  WITH CHECK ADD  CONSTRAINT [FK_Exposicion_Empleado] FOREIGN KEY([id_guia])
REFERENCES [dbo].[Empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Exposicion] CHECK CONSTRAINT [FK_Exposicion_Empleado]
GO
ALTER TABLE [dbo].[Exposicion]  WITH CHECK ADD  CONSTRAINT [FK_Exposicion_Publico_Destino] FOREIGN KEY([id_Publico])
REFERENCES [dbo].[Publico_Destino] ([id])
GO
ALTER TABLE [dbo].[Exposicion] CHECK CONSTRAINT [FK_Exposicion_Publico_Destino]
GO
ALTER TABLE [dbo].[Exposicion]  WITH CHECK ADD  CONSTRAINT [FK_Exposicion_Sede] FOREIGN KEY([id_Sede])
REFERENCES [dbo].[Sede] ([id_sede])
GO
ALTER TABLE [dbo].[Exposicion] CHECK CONSTRAINT [FK_Exposicion_Sede]
GO
ALTER TABLE [dbo].[Exposicion]  WITH CHECK ADD  CONSTRAINT [FK_Exposicion_Tipo_exposicion] FOREIGN KEY([id_tipo_expo])
REFERENCES [dbo].[Tipo_exposicion] ([id_tipo_expo])
GO
ALTER TABLE [dbo].[Exposicion] CHECK CONSTRAINT [FK_Exposicion_Tipo_exposicion]
GO
ALTER TABLE [dbo].[Guia_X_Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Guia_X_Reserva_Empleado] FOREIGN KEY([idGuia])
REFERENCES [dbo].[Empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Guia_X_Reserva] CHECK CONSTRAINT [FK_Guia_X_Reserva_Empleado]
GO
ALTER TABLE [dbo].[Guia_X_Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Guia_X_Reserva_Reserva] FOREIGN KEY([idReserva])
REFERENCES [dbo].[Reserva] ([id_reserva])
GO
ALTER TABLE [dbo].[Guia_X_Reserva] CHECK CONSTRAINT [FK_Guia_X_Reserva_Reserva]
GO
ALTER TABLE [dbo].[Hora_Empleado]  WITH CHECK ADD  CONSTRAINT [horarioXempleado_FK] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Hora_Empleado] CHECK CONSTRAINT [horarioXempleado_FK]
GO
ALTER TABLE [dbo].[Obra]  WITH CHECK ADD  CONSTRAINT [obraXregistrador_FK] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Obra] CHECK CONSTRAINT [obraXregistrador_FK]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Sede] FOREIGN KEY([id_sede])
REFERENCES [dbo].[Sede] ([id_sede])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Sede]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [reservaXescuela_FK] FOREIGN KEY([id_escuela])
REFERENCES [dbo].[Escuela] ([id_escuela])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [reservaXescuela_FK]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [reservaXtipovisita_FK] FOREIGN KEY([id_tipo_visita])
REFERENCES [dbo].[Tipo_visita] ([id_tipo_visita])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [reservaXtipovisita_FK]
GO
ALTER TABLE [dbo].[Sesion]  WITH CHECK ADD  CONSTRAINT [sesionXuser_FK] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Sesion] CHECK CONSTRAINT [sesionXuser_FK]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [userXempleado_FK] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [userXempleado_FK]
GO
ALTER TABLE [dbo].[Hora_Empleado]  WITH CHECK ADD  CONSTRAINT [dia_CK] CHECK  (([dia]='D' OR [dia]='S' OR [dia]='V' OR [dia]='J' OR [dia]='X' OR [dia]='M' OR [dia]='L'))
GO
ALTER TABLE [dbo].[Hora_Empleado] CHECK CONSTRAINT [dia_CK]
GO
USE [master]
GO
